html *{
	font-family: 'Montserrat', sans-serif;
}

tr {
	text-align: center;
	&:nth-child(even) {
		background-color: #e4e4e4
	}
	td {
	}
}
.headerCell{
	text-align:center;
	background-color: yellow;
	border-bottom: 1px black;
	font-size: 1.5em;
	
}
.nameCell { 
	text-align:center;
	vertical-align:middle;
	font-size: 1.2em;
	cursor: pointer;
	&:hover{
		color: red;
	}
}
.free { 
	background-color: #4CAF50; /* Green */
	border: 2px black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
	margin: 10px;
	cursor: pointer;
	&:hover{
		background-color: white; /* Green */
    	color: black;
	}
}
.captured { 
	background-color: red; /* Green */
	border: 2px black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
	margin: 10px;
	cursor: pointer;
	&:hover{
		background-color: white; /* Green */
    	color: black;
	}
}